body {
  background-color: #C8C8C8;
}

h1 {
  text-align: center;
  color: #00FFFF
}
h2{
  font-style: italic;
  outline-color: green;
  color: #66CC33;
}

carousel .item {
    background:#F9F9F9;
    border:1px solid #E0E0E0;
    overflow:hidden;
    margin-bottom:1em;
    margin-top:1em;
    padding:5px;
}
.carousel-inner > .item > img {
    border: 1px solid #DDDDDD;
    float: left;
    margin: 0pt 3px;
    padding: 2px;
    height: none;
    width:  100%;
}

.carousel-inner > .item > img:hover {
    border: 1px solid #000000;
}